@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: #F7F8F9;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
}

.white{
  background-color: white;
}

header{
  padding: 10px;
}

h1{
  display: inline-block;
  font-size: 3vw;
  padding-bottom: 5px;
  vertical-align: super;
}

header > img{
  margin-right: 10px;
}

