@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: #F7F8F9;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 4vw;
}

.bg-white{
  background-color: white;
}

header{
  padding: 10px;
  margin-bottom: 40px;
}

h1{
  display: inline-block;
  font-size: 3vw;
  padding-bottom: 5px;
  vertical-align: super;
}

header > img{
  margin-right: 10px;
}

.actions{
  border-bottom: 3px solid #F7F8F9;
  padding: 15px 0;
}

button{
  padding: 10px;
  border-radius: 5px;
  border: none;

}

.bt-task{
  background-color: #47ADF2;
  color: white;
  margin-right: 5px;
}

ul{
  list-style-type: none;
  padding-top: 30px;
}

